.diffships
    list-style: none
    padding-left: 0
    & li
        display: flex
        border: 1px solid grey
        border-radius: 20px
        margin-top: 10px
        padding: .3em
        & p 
            max-width: none
            margin: 0
            color: orange
            text-align: center
    & li:hover
        box-shadow: 5px 5px 0 rgb(43, 37, 42)
        transform: translate(-4px,-4px)
.ships-img
    overflow: hidden
    flex-shrink: 0
    width: 250px
    height: 70px
    // transform: rotate(90deg)
    & img
        width: 100%
        display: block
        height: 7vh

