.flex-container
    display: flex
    position: absolute
    right: 5vh
    top: 20vh
    flex-wrap: wrap
    background-color: green
    width: 450px
    height: 450px
    z-index: 2
    opacity: 0.25


.place_submarine
    height: 50px
    width: 100px
    z-index: 1  

.place_frigate
    height: 50px
    width: 150px


.place_destroyer
    height: 50px
    width: 150px


.place_corvette
    height: 50px
    width: 50px


.place_carrier
    height: 50px
    width: 200px


    

