.gBoard
    display: flex
    position: absolute
    right: 0
    left: 0
    margin: auto
    top: 17vh
    bottom: auto
    flex-wrap: wrap
    width: 450px
    height: 450px

.tiles
    width: 50px
    height: 50px
    border: 1px solid green

.Zero_submarine
    height: 50px
    width: 100px
    z-index: 1  

.Zero_frigate
    height: 50px
    width: 150px


.Zero_destroyer
    height: 50px
    width: 150px


.Zero_corvette
    height: 50px
    width: 50px


.Zero_carrier
    height: 50px
    width: 200px
