.Home {
  text-align: center;
  position: relative;
  background-color: rgb(155, 163, 244);
}

.Home-header{
  font-size: 90px;
  font-family: cursive;
  position: relative;
  top: 10px;
}
.button-basic{
  width: 270px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  background-color: black;
  border: 2px solid #00d7c3;
  border-radius: 20px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #00d7c3;
	display: inline-block;
  margin-bottom: 20px;
  position: relative;
  top: 70px;
  padding: 10px;
  font-size: 30px;
}
.button-basic:hover
{
  box-shadow: 0 0 5px 0 #00d7c3 inset, 0 0 10px 1px #00d7c3;
  border: 2px solid #00d7c3;
}
.button-basic1{
	width: 280px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  background-color: rgb(17, 9, 90);
  border: 2px solid #17c3cf;
  border-radius: 20px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #e0bbcc;
	display: inline-block;
  position: relative;
  top: 45px;
  padding: 5px;
  font-size: 25px;
}
.button-basic1:hover
{
  box-shadow: 0 0 5px 0 #00d7c3 inset, 0 0 10px 1px #ba222c;
  border: 2px solid #e90699;
}

.logg
{
  width: 130px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  background-color: rgb(107, 6, 6);
  border: 2px solid #090628;
  border-radius: 10px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #f7f7f7;
	display: inline-block;
  margin-bottom: 20px;
  position: relative;
  left: 450px;
  bottom: 210px;
  padding: 5px;
  font-size: 15px;
}
.logg:hover
{
  box-shadow: 0 0 20px 0 #0d0532 inset, 0 0 10px 1px #1a0d5a;
  border: 2px solid #07cc24;
}

.logg1
{
  width: 130px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  background-color: rgb(107, 6, 6);
  border: 2px solid #100a59;
  border-radius: 10px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #f7f7f7;
	display: inline-block;
  margin-bottom: 20px;
  position: relative;
  left: 470px;
  bottom: 210px;
  padding: 5px;
  font-size: 15px;
}
.logg1:hover
{
  box-shadow: 0 0 20px 0 #0d0532 inset, 0 0 10px 1px #1a0d5a;
  border: 2px solid #07cc24;
}


.button-info{
  background: #059326;
  text-decoration: none;
	width: 170px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition: all .14s ease-out;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ffffff;
  position: relative;
  top: 210px;
  left: 465px;
  grid-gap: 8px;
  align-items: center;
  border: 1px solid rgb(30, 10, 61);
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  justify-content: center;
  padding: 7px;

}
.button-info:hover
{
  box-shadow: 5px 5px 0 rgb(24, 27, 25);
  transform: translate(-4px,-4px);
}
.button-info:focus-visible{
  outline-offset: 1px;
}
