.Home {
  text-align: center;
  background-color: rgb(243, 207, 159);
}

.Home-header{
  font-size: 90px;
  position: relative;
  top: 10px;
}
.button-basic{
  width: 270px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  background-color: black;
  border: 2px solid #00d7c3;
  border-radius: 20px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #00d7c3;
	display: inline-block;
  margin-bottom: 20px;
  position: relative;
  top: 70px;
  padding: 10px;
  font-size: 30px;
}
.button-basic:hover
{
  box-shadow: 0 0 5px 0 #00d7c3 inset, 0 0 10px 1px #00d7c3;
  border: 2px solid #00d7c3;
}
.button-basic1{
	width: 300px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  background-color: black;
  border: 2px solid #00d7c3;
  border-radius: 20px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #00d7c3;
	display: inline-block;
  margin-bottom: 20px;
  position: relative;
  top: 80px;
  padding: 10px;
  font-size: 30px;
}
.button-basic1:hover
{
  box-shadow: 0 0 5px 0 #00d7c3 inset, 0 0 10px 1px #00d7c3;
  border: 2px solid #00d7c3;
}

.logg
{
  width: 130px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  background-color: rgb(206, 29, 29);
  border: 2px solid #100a59;
  border-radius: 10px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #f7f7f7;
	display: inline-block;
  margin-bottom: 20px;
  position: relative;
  left: 450px;
  bottom: 230px;
  padding: 5px;
  font-size: 15px;
}
.logg:hover
{
  box-shadow: 0 0 50px 0 #3f25b5 inset, 0 0 20px 2px #5c1fa7;
  border: 2px solid #07cc24;
}

.logg1
{
  width: 130px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  background-color: rgb(206, 29, 29);
  border: 2px solid #100a59;
  border-radius: 10px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #f7f7f7;
	display: inline-block;
  margin-bottom: 20px;
  position: relative;
  left: 470px;
  bottom: 230px;
  padding: 5px;
  font-size: 15px;
}
.logg1:hover
{
  box-shadow: 0 0 50px 0 #3f25b5 inset, 0 0 20px 2px #5c1fa7;
  border: 2px solid #07cc24;
}


