.button-info
  width: 40px
  height: 40px
  cursor: pointer
  transition: all .15s ease-in-out
  color: #0c061d
  padding: 2px
  background: none
  border: none
  border-radius: 14px

  @media screen and (max-width: 972px)
    width: 25px
    height: 25px

.button-info:hover 
  box-shadow: -1px -1px 5px 0px #861a1a, 7px 7px 20px 0px #60505033, 4px 4px 5px 0px #0002
  transform: translate(-4px,-4px)

.info-modal
  backdrop-filter: blur(5px)
  .modal-content
    background: transparent
    border: transparent

.info-body
  display: flex
  justify-content: center
  align-items: center
  left: 0
  top: 0
  margin: 1rem
  .boxmodal
    width: 600px
    height: 500px
    position: absolute
    z-index: -1

  .modaltext
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: relative
    z-index: 10
    color: white
    text-align: center
    font-family: nunito
    .info-title
      color: #f8c008
      font-size: 36px

  .info-icon
    font-size: 36px
    margin-bottom: 3.2px
    color: #f8c008

  .info-btn
    background: linear-gradient(368deg, #4aa6df 10%, #0a5e92 40%)
    cursor: pointer
    border: 1px solid #070338
    transition: 0.15s all ease-in-out

  .info-btn:hover 
    background: #3e8bb8
    transform: translate(-4px,-4px)
    box-shadow: -1px -1px 5px 0px #0c1543, 7px 7px 20px 0px #60505033, 4px 4px 5px 0px #0002

  .info-btn
    background: linear-gradient(368deg, #4aa6df 10%, #0a5e92 40%)
    cursor: pointer
    margin-left: 1.6rem
    border: 1px solid #070338
    transition: 0.15s all ease-in-out

  .info-btn:hover 
    background: #3e8bb8
    transform: translate(-4px,-4px)
    box-shadow: -1px -1px 5px 0px #0c1543, 7px 7px 20px 0px #60505033, 4px 4px 5px 0px #0002