.button-info
  width: 40px
  height: 40px
  cursor: pointer
  transition: all .15s ease-in-out
  color: #0c061d
  padding: 2px
  background: none
  border: none
  border-radius: 14px

  @media screen and (max-width: 972px)
    width: 25px
    height: 25px

.button-info:hover 
  box-shadow: -1px -1px 5px 0px #861a1a, 7px 7px 20px 0px #60505033, 4px 4px 5px 0px #0002
  transform: translate(-4px,-4px)

.info-modal
  backdrop-filter: blur(5px)
  .modal-content
    background: none

  .info-header
    border-radius: 10px 10px 0 0
    background: linear-gradient(180deg, #2d96d7 10%, #79c5d0 70%)
    border: none

  .info-title
    color: #051c41
    margin-left: 6rem
    font-family: 'Nunito', sans-serif
    font-size: 30px

  .info-icon
    font-size: 36px
    margin-bottom: 3.2px
    color: 051c41

  .info-body
    border: none
    background: linear-gradient(180deg, #2d96d7 10%, #79c5d0 70%)
    & h5
      font-size: 22.4px
      font-family: 'Nunito', sans-serif
      font-weight: 600
      color: #051c41

  .info-footer
    border: none
    background: linear-gradient(10deg, #79c5d0 10%, #2d96d7 80%)
    position: relative
    justify-content: center
    border-radius: 0 0 10px 10px