.modalCtn      
    backdrop-filter: blur(5px)

    .modal-content
        background-color: transparent
        border-color: transparent
        

    
.win_lose
    display: flex
    justify-content: center
    align-items: center
    left: 0
    top: 0
    margin: auto

    .modalBg
        width: 320px
        height: 320px
        position: absolute
        z-index: -1

    .modalText
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        position: relative
        z-index: 10
        color: white
        text-align: center

